[project]
	description = The code used in the Banglaore NodeJS Learnup hosted by Ventursity
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nitin Raj Gupta (nitingupta180)
[access "refs/for/refs/*"]
	read = group user/Nitin Raj Gupta (nitingupta180)
	push = group user/Nitin Raj Gupta (nitingupta180)
	label-Code-Review = -2..+2 group user/Nitin Raj Gupta (nitingupta180)
	label-Verified = -1..+1 group user/Nitin Raj Gupta (nitingupta180)
	rebase = group user/Nitin Raj Gupta (nitingupta180)
	removeReviewer = group user/Nitin Raj Gupta (nitingupta180)
	submit = group user/Nitin Raj Gupta (nitingupta180)
[access "refs/heads/*"]
	read = group user/Nitin Raj Gupta (nitingupta180)
	create = group user/Nitin Raj Gupta (nitingupta180)
	push = +force group user/Nitin Raj Gupta (nitingupta180)
	pushMerge = group user/Nitin Raj Gupta (nitingupta180)
[access "refs/tags/*"]
	push = +force group user/Nitin Raj Gupta (nitingupta180)
	pushTag = group user/Nitin Raj Gupta (nitingupta180)
	pushSignedTag = group user/Nitin Raj Gupta (nitingupta180)
